# Final Project

In [1]:
import data_extraction

In [7]:
# Encode and run query to get match data for The International
query = "select * from matches
"

encoded_query = data_extraction.encode_query(query)
base_url = "https://api.opendota.com/api/explorer"
params = {"sql": encoded_query}

match_data = data_extraction.get_api_data(base_url, params=params)

In [8]:
match_data

,match_id,match_seq_num,radiant_win,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_radiant,barracks_status_dire,cluster,...,radiant_xp_adv,teamfights,version,cosmetics,radiant_score,dire_score,draft_timings,series_id,series_type,replay_salt
0,7502154550,6314171223,True,1703338195,1030,2047,1572,63,31,184,...,"[0, -155, 221, 728, 1087, 2177, 2438, 4194, 56...","[{'start': 207, 'end': 256, 'last_death': 241,...",21.0,"{'647': 132, '4270': 129, '4546': 128, '4810':...",47,7,"[{'order': 1, 'pick': False, 'active_team': 2,...",836730,1,676675931
1,44201436,42544425,True,1348762997,2668,1796,36,63,15,132,...,None,None,NaN,None,0,0,None,0,0,1893546790
2,7525107118,6334722768,False,1704569975,1860,7,2038,51,63,185,...,"[0, 256, 711, 507, -82, -341, -990, -199, 38, ...","[{'start': 560, 'end': 599, 'last_death': 584,...",21.0,"{'669': 1, '746': 128, '4601': 130, '7531': 13...",28,27,"[{'order': 1, 'pick': False, 'active_team': 3,...",839436,1,629570927
3,5319173021,4461777351,True,1585400526,2084,1847,256,63,48,131,...,"[0, 63, -298, 131, 442, -208, -382, -587, 58, ...","[{'start': 254, 'end': 292, 'last_death': 277,...",21.0,"{'647': 1, '4839': 132, '4911': 1, '4912': 1, ...",26,26,"[{'order': 1, 'pick': False, 'active_team': 2,...",0,0,2111599976
4,4162106350,3606427106,False,1539182789,2548,0,2036,0,63,136,...,"[0, 211, -67, -513, -585, -1214, -636, -165, -...","[{'start': 340, 'end': 378, 'last_death': 363,...",21.0,"{'647': 130, '4466': 0, '5632': 1, '5633': 1, ...",34,56,"[{'order': 1, 'pick': False, 'active_team': 2,...",253205,1,587030992
5,7549895475,6356936390,False,1705939950,2799,0,1796,0,63,251,...,"[0, 11, 30, -199, -19, -211, 420, 566, 569, 32...","[{'start': 481, 'end': 533, 'last_death': 518,...",21.0,"{'647': 0, '5946': 132, '5947': 132, '6801': 4...",33,37,"[{'order': 1, 'pick': False, 'active_team': 3,...",843295,1,695871391
6,7502159873,6314205910,True,1703338541,1963,1983,256,63,51,272,...,"[413, 113, 714, 587, 255, 735, 1658, 773, -439...","[{'start': 513, 'end': 557, 'last_death': 542,...",21.0,"{'647': 130, '7595': 131, '7629': 128, '7796':...",42,9,[],836741,1,167152745
7,5992052154,5019826094,True,1620906768,1777,1974,1828,63,63,181,...,"[0, 126, -277, 374, 325, 581, 1082, 800, 1211,...","[{'start': 824, 'end': 871, 'last_death': 856,...",21.0,"{'630': 4, '647': 3, '746': 2, '4093': 132, '4...",37,15,"[{'order': 1, 'pick': False, 'active_team': 3,...",560089,2,1728580151
8,7181766896,6036241054,True,1685653624,2900,1588,260,31,51,347,...,"[70, 462, 657, 239, 851, 880, 19, -221, -759, ...","[{'start': 230, 'end': 270, 'last_death': 255,...",21.0,"{'600': 130, '647': 4, '4871': 131, '6042': 3,...",38,26,"[{'order': 1, 'pick': False, 'active_team': 3,...",781641,1,1523650440
9,5990466771,5018555092,True,1620813292,1238,1975,1972,63,63,225,...,"[0, 99, -27, -406, -615, -211, 595, 1665, 1026...","[{'start': 440, 'end': 476, 'last_death': 461,...",21.0,"{'647': 130, '5103': 128, '5345': 4, '5692': 1...",24,13,"[{'order': 1, 'pick': False, 'active_team': 3,...",559804,1,860546559

In [11]:
league_data.loc[league_data['name'].str.contains('the international', case=False)]

,leagueid,ticket,banner,tier,name
410,600,None,None,professional,The International 2014
767,2733,None,None,professional,The International 2015
787,11625,None,None,premium,The International 10
901,4664,None,None,premium,The International 2016
1738,15728,None,None,premium,The International 2023
2139,4768,None,None,excluded,The International 2016 Open Qualifiers
2334,5401,None,None,professional,The International 2017
2536,65005,econ/leagues/subscriptions_westqualifier_ingame,econ/leagues/subscriptions_westqualifier_ingame,professional,The International West Qualifiers
2627,65004,econ/leagues/subscriptions_eastqualifier_ingame,econ/leagues/subscriptions_eastqualifier_ingame,professional,The International East Qualifiers
3402,16839,None,None,professional,Road To The International 2024 - Regional Qual...
3403,16843,None,None,professional,Road To The International 2024 - Regional Qual...
3404,16844,None,None,professional,Road To The International 2024 - Regional Qua...
3861,13256,None,None,premium,The International 2021
4115,14268,None,None,premium,The International 2022
5277,16841,None,None,professional,Road To The International 2024 - Regional Qua...
5279,16842,None,None,professional,Road To The International 2024 - Regional Qua...
5321,16840,None,None,professional,Road To The International 2024 - Regional Qua...
5430,9870,None,None,premium,The International 2018
5823,10749,None,None,premium,The International 2019
5905,11090,None,None,excluded,The International 2019 Open Qualifiers
6993,65001,econ/leagues/subscriptions_international_ingame,econ/leagues/subscriptions_international_ingame,professional,The International 2012
7013,14642,None,None,premium,The International 2022 Last Chance Qualifiers
7290,10049,None,None,excluded,The International 2018 Open Qualifiers
7513,16935,None,None,premium,The International 2024
7741,65006,None,None,professional,The International 2013

In [12]:
# get the matches from the internationals

In [13]:
# tier the heroes

In [14]:
# some plots about the heroes

In [15]:
#teams, some background